// COMPONENTS
// sticky
// =================================================

.sticky {
	height: 100%;

	@include media("md", "max", "height") {
		min-height: inherit;
	}

	&__body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 999999;
	}

	&__main {
		flex: 1;
	}

	&__footer {
	}
}
