// LAYOUTS
// footer
// =================================================

.footer {
	padding: 2rem 0;
	color: $color-white;
	background-color: $color-brand-1;

	&__copyright {
		font-size: 1.4rem;
	}
}
