// ABSTRACTS - VARIABLES
// colors
// =================================================

// COLORS - GRAY SCALE
// -------------------
$color-white: #fff;
$color-light: #f3f3f3;
$color-silver: #ddd;
$color-gray: #aaa;
$color-black: #111;

// COLORS - BRAND
// -------------------
$color-brand-1: #007acc;
$color-brand-2: #fff;
